@page "/estudiantesAntiguos"

@inject ListarEstudiantesAntiguosUseCase ListarEstudiantesAntiguosUseCase
@inject NavigationManager Navegador

<h1>Estudiantes que finalizaron un curso</h1>

<table class="table">
<thead>
    <tr>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>CURSO REALIZADO</th>
    </tr>
</thead>

<tbody>
@if(_estudiantesAntiguos != null)
{
    @foreach (var estudiante in _estudiantesAntiguos)
    {
        <tr>                
            <td>@estudiante.Nombre</td>
            <td>@estudiante.Apellido</td>
            <td>@estudiante.Inscripciones[0].Curso.Titulo</td>        
        </tr>
    }
}
</tbody>
</table>




@code
{
    List<Estudiante> _estudiantesAntiguos = new List<Estudiante>();

    protected override void OnInitialized()
    {
        _estudiantesAntiguos = ListarEstudiantesAntiguosUseCase.Ejecutar();
    }
}