@page "/listadoCursos/{Mod:bool?}"
@inject ListarCursosUseCase ListarCursosUseCase
@inject EliminarCursoUseCase EliminarCursoUseCase
@inject IJSRuntime JsRuntime
@inject ObtenerCursoUseCase ObtenerCursoUseCase
@inject NavigationManager Navegador

@if ( _se_modifico )
{
    <p class='alert alert-success'> Curso modificado correctamente.</p>
}

@if (_se_elimino)
{
    <p class='alert alert-danger'> Curso eliminado satisfactoriamente.</p>
}

<table class="table">
<thead>
<tr>
<th>TITULO</th>
<th>DESCRIPCION</th>
<th>FECHA DE INICIO</th>
<th>FECHA DE FINALIZACION</th>
<th>ACCIONES</th>
</tr>
</thead>
<tbody>
@foreach (var curso in _lista)
{
<tr>
<td>@curso.Titulo</td>
<td>@curso.Descripcion</td>
<td>@curso.Fecha_inicio.ToString("dd/MM/yyyy")</td>
<td>@curso.Fecha_finalizacion.ToString("dd/MM/yyyy")</td>
<td>
    <button class="btn btn-info btn-sm" @onclick="()=>VerEstudiantesInscriptos(curso.Id)"><i class="oi oi-people"></i>Ver estudiantes inscriptos</button>
    <button class="btn btn-success btn-sm" @onclick="()=>ModificarCurso(curso.Id)"><i class="oi oi-pencil"></i>Modificar curso</button>
    <button class="btn btn-danger btn-sm" @onclick="()=>EliminarCurso(curso.Id)"><i class="oi oi-trash"></i>Eliminar curso</button>
</td>
</tr>
}
</tbody>
</table>

@code 
{
    List<Curso> _lista = new List<Curso>();
    [Parameter] public bool? Mod { get; set; }
    bool _se_modifico= false;
    bool _se_elimino= false;

    protected override void OnInitialized()
    {
        _lista = ListarCursosUseCase.Ejecutar();
    }

        protected override void OnParametersSet()
        {
            if (Mod != null)
            {
                _se_modifico= Mod.Value;                
            }
        }

    void ModificarCurso(int id)
    {
        Navegador.NavigateTo($"agregarCurso/{id}");
    }

    void VerEstudiantesInscriptos(int id)
    {
        Navegador.NavigateTo($"estudiantesInscriptos/{id}");
    }

    async Task EliminarCurso(int id)
    {
        var _cursoSeleccionado= ObtenerCursoUseCase.Ejecutar(id);
        if(_cursoSeleccionado != null)
        {
            bool confirmado= await JsRuntime.InvokeAsync<bool>("confirm",$"Esta seguro que desea borrar el curso {_cursoSeleccionado.Titulo}?");
            if(confirmado)
            {
                EliminarCursoUseCase.Ejecutar(id);
                _se_elimino= true;
                _lista= ListarCursosUseCase.Ejecutar();              
            }
        }
    }
}

