@page "/listadoEstudiantes/{Mod:bool?}"

@inject ListarEstudiantesUseCase ListarEstudiantesUseCase
@inject EliminarEstudianteUseCase EliminarEstudianteUseCase
@inject IJSRuntime JsRuntime
@inject ObtenerEstudianteUseCase ObtenerEstudianteUseCase
@inject NavigationManager Navegador

@if (_se_elimino)
{
    <p class='alert alert-danger'> Estudiante eliminado satisfactoriamente.</p>
}

@if ( _se_modifico )
{
    <p class='alert alert-success'> Estudiante modificado correctamente.</p>
}

<table class="table">
    <thead>
        <tr>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EMAIL</th>
            <th>ACCIONES</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var estudiante in _lista)
        {
        <tr>
        <td>@estudiante.Dni</td>
        <td>@estudiante.Nombre</td>
        <td>@estudiante.Apellido</td>
        <td>@estudiante.Email</td>
        <td>    
            <button class="btn btn-info btn-sm" @onclick="()=>VerInscripciones(estudiante.Id)"><i class="oi oi-people"></i>Ver inscripciones</button>
            <button class="btn btn-success btn-sm" @onclick="()=>ModificarEstudiante(estudiante.Id)"><i class="oi oi-pencil"></i>Modificar estudiante</button>
            <button class="btn btn-danger btn-sm" @onclick="()=>EliminarEstudiante(estudiante.Id)"><i class="oi oi-trash"></i>Eliminar estudiante</button>
        </td>
        </tr>
        }
    </tbody>
</table>

@code 
{
    [Parameter] public bool? Mod {get; set;}
    bool _se_elimino = false;
    bool _se_modifico = false;
    List<Estudiante> _lista = new List<Estudiante>();
    protected override void OnInitialized()
    {
        _lista = ListarEstudiantesUseCase.Ejecutar();
    }

    protected override void OnParametersSet()
    {
        if( Mod != null)
        {
            _se_modifico = true;
        }
    }

    void ModificarEstudiante(int id)
    {
        Navegador.NavigateTo($"agregarEstudiante/{id}");
    }

    void VerInscripciones(int id)
    {
        Navegador.NavigateTo($"verInscripciones/{id}");
    }

    async Task EliminarEstudiante(int id)
    {
        var _estudianteSeleccionado= ObtenerEstudianteUseCase.Ejecutar(id);
        if(_estudianteSeleccionado != null)
        {
            bool confirmado= await JsRuntime.InvokeAsync<bool>("confirm",$"Esta seguro que desea borrar el estudiante con id {_estudianteSeleccionado.Id}?");
            if(confirmado)
            {
                EliminarEstudianteUseCase.Ejecutar(id);
                _lista= ListarEstudiantesUseCase.Ejecutar();
            }
        }

        _se_elimino = true;
    }
}