@page "/verCurso/{Id:int?}"
@inject ObtenerCursoUseCase ObtenerCursoUseCase
@inject NavigationManager Navegador

@if (_curso != null)
{
    <h1>Curso: @_curso.Titulo</h1>
    <ul>
        <li>Descripcion: @_curso.Descripcion</li>
        <li>Fecha de inicio: @_curso.Fecha_inicio</li>
        <li>Fecha de finalizacion: @_curso.Fecha_finalizacion</li>
    </ul>
}


@code
{
    Curso? _curso= new Curso();
    [Parameter] public int? Id { get; set; }

        protected override void OnParametersSet()
        {
            if(Id != null)
            {
                _curso= ObtenerCursoUseCase.Ejecutar(Id.Value);
                if(_curso == null)
                {
                    Navegador.NavigateTo("/listadoCursos");
                }
            }
        }
}

