<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AL.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>DesplegarCursos()" href="#">
                <span class="oi oi-book"  aria-hidden="true"></span> Cursos
            </NavLink>
        </div>
        @if(_desplegarCursos)
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarCurso">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar curso
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadoCursos">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de cursos
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>DesplegarEstudiantes()" href="#">
                <span class="oi oi-people"  aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>
        @if(_desplegarEstudiantes)
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarEstudiante">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar estudiante
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadoEstudiantes">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de estudiantes
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>DesplegarInscripciones()" href="#">
                <span class="oi oi-document"  aria-hidden="true"></span> Inscripciones
            </NavLink>
        </div>
        @if(_desplegarInscripciones)
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarInscripcion">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar inscripcion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadoInscripciones">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de Inscripciones
            </NavLink>
        </div>
        }
    </nav>
</div>

@code {

    bool _desplegarCursos= false;
    bool _desplegarEstudiantes= false;
    bool _desplegarInscripciones= false;

    void DesplegarCursos()
    {
        _desplegarCursos= !_desplegarCursos;
    }

    void DesplegarEstudiantes()
    {
        _desplegarEstudiantes= !_desplegarEstudiantes;
    }

    void DesplegarInscripciones()
    {
        _desplegarInscripciones= !_desplegarInscripciones;
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
